<div class="card">
  <div class="card-header">
    Nuevo Curso
  </div>
  <div class="card-body">
    <form #formAdd="ngForm">
      <div class="form-group">
        <label for="name">Name*</label>
        <input 
            type="text" 
            class="form-control" 
            id="name" 
            name="name"
            placeholder="Ingrese Nombre" 
            [(ngModel)]="model.name"
            #name="ngModel"
            required
        />
      </div>
      <div class="form-group">
        <label for="fechaInicio">FechaInicio*</label>
        <input
          type="text"
          class="form-control"
          id="fechaInicio"
          name="fechaInicio"
          placeholder="Ingresar Fecha Inicio"
          [(ngModel)]="model.fechaInicio"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Descripción*</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder="Descripción"
          [(ngModel)]="model.description"
          required
          minlength="5"
        />
      </div>
      <div class="form-group">
        <label for="starDate">StartDate*</label>
        <input 
            type="text" 
            class="form-control" 
            id="starDate" 
            name="starDate" 
            placeholder="starDate"
            [(ngModel)]="model.starDate"
            required
        />
      </div>
      <div class="form-group">
        <label for="price">Price*</label>
        <input 
            type="text" 
            class="form-control" 
            id="price" 
            name="price" 
            placeholder="Price"
            [(ngModel)]="model.price"
            required
        />
      </div>
      <div class="form-group">
        <label for="imgUrl">ImgUrl</label>
        <input 
            type="text" 
            class="form-control" 
            id="imgUrl" 
            name="imgUrl" 
            [(ngModel)]="model.imgUrl"
           
        />
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="active"
          name="active"
        />
        <label class="form-check-label" for="active">Curso activo</label>
      </div>
      <button type="submit" 
            class="btn btn-primary"
            (click)="onSubmit()">
            Crear Curso
        </button>
    </form>
  </div>
  <div>
    <pre>
        Form.valid: {{ formAdd.form.valid }}
        Form.invalid: {{ formAdd.form.invalid }}
        Form.touched: {{ formAdd.form.touched }}
        Form.untouched: {{ formAdd.form.untouched }} 
        Form.pristine: {{ formAdd.form.pristine }}
        Form.dirty: {{ formAdd.form.dirty }}
       
    </pre
    >
  </div>
</div>
